body, html {
    height: 100%;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.backLink {
    position: absolute;
    top: 10px;
    left: 10px;
}

.backLink a {
    color: #ffffff;
    text-decoration: none;
    font-size: 1em;
    display: flex;
    align-items: center;
    background-color: rgb(17, 17, 17);
    border: solid 1px rgb(255, 255, 255);
    padding: 10px;
    border-radius: 30px;
}

.backLink a:hover {
    color: #55bfd4;
    transition: 0.2s;
    translate:-5px;
}

.icon {
    margin-bottom: 4px;
    margin-right: 5px;
}

.formCardDiv {
    border-radius: 40px;
    background-color: rgb(17, 17, 17);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 90%;
    max-width: 400px;
    padding: 15px 30px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgba(255, 255, 255, 0.87);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 1.7;
}

button {
    border-radius: 5px;
    border: 1px solid transparent;
    font-size: 1em;
    font-weight: 550;
    background-color: #55bfd4;
    cursor: pointer;
    margin-top: 7px;
    color: #000000;
    padding: 7px 20px;
    margin-bottom: 10px;
}

button:hover {
    background-color: #4babbe;
    transition: 0.5s;
    box-shadow: 0 0 5px #5bd3eb, 0 0 40px #5bd3eb, 0 0 10px #5bd3eb, 0 0 10px #5bd3eb, 0 0 30px #5bd3eb;
    color: white;
    transition: 0.3s ease;
}

button:hover strong {
    color: white;
}

button:focus, button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}

h1 {
    font-size: 2.5em;
    line-height: 1.1;
    color: rgba(255, 255, 255, 0.87);
    margin-bottom: 10px;
}

h4{
    font-weight: 100;
    font-size: 15px;
    color: rgba(255, 255, 255, 0.87);
    margin-top: -5px;
  }

input {
    padding: 10px;
    border: 3px solid transparent;
    border-radius: 25px;
    width: 100%; /* Ajuste de largura */
    font-size: 14px;
    background-color: rgba(63, 63, 63, 0.555);
    color: rgba(255, 255, 255, 0.87);
}

input:hover {
    background-color: rgba(54, 54, 54, 0.555);
    transition: 0.3s;
}
@media (max-width: 1200px) {
    .formCardDiv {
        padding: 15px 20px;
    }

    h1 {
        font-size: 2em;
    }
}

@media (max-width: 768px) {
    .formCardDiv {
        padding: 15px 15px;
    }

    h1 {
        font-size: 1.5em;
    }

    button {
        font-size: 0.9em;
        padding: 7px 15px;
    }

    .backLink a {
        font-size: 0.9em;
        padding: 8px;
    }
}

@media (max-width: 480px) {
    .formCardDiv {
        padding: 10px;
    }

    h1 {
        font-size: 1.2em;
    }

    button {
        font-size: 0.8em;
        padding: 7px 10px;
    }

    .backLink a {
        font-size: 0.8em;
        padding: 6px;
    }
}