.formCardDiv{
  border-radius: 40px;
  background-color: rgb(17, 17, 17);
  box-shadow: 9px;
  width: 100%;
  padding: 15px 120px 25px;
  height: auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  font-family: Arial, Helvetica, sans-serif;
  color: rgba(255, 255, 255, 0.87);
  margin-bottom: -5px;
}
form{
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 1.7;
}

main{
  display: flex;
  justify-content: center;
}

button {
  border-radius: 25px;
  border: 1px solid transparent;
  font-size: 1em;
  font-weight: 550;
  background-color: #55bfd4;
  cursor: pointer;
  margin-top: 7px;
  color: #000000;
  padding: 8px 20px;
  margin-bottom: 10px;
}

button:hover {
  background-color: #5bd3eb;
  transition: 0.5s;
  box-shadow: 0 0 5px #5bd3eb, 0 0 40px #5bd3eb, 0 0 10px #5bd3eb, 0 0 10px #5bd3eb, 0 0 30px #5bd3eb;
  color: white;
  transition: 0.3s ease;
}

button:hover strong {
  color: white;
}

button:focus, button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

h1 {
  font-size: 2.5em;
  line-height: 1.1;
  color: rgba(255, 255, 255, 0.87);
  margin-bottom: -10px;
}

h4{
  font-weight: 100;
  font-size: 15px;
  color: rgba(255, 255, 255, 0.87);
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: none;
}
a:hover {
  color: #535bf2;
}

.homeLink {
  position: absolute;
  top: 10px;
  left: 10px;
  color: #ffffff;
  text-decoration: none;
  display: flex;
  align-items: center;
  background-color: rgb(17, 17, 17);
  border: solid 1px rgb(255, 255, 255);
  padding: 10px;
  border-radius: 30px;
}
.homeLink:hover {
  color: #55bfd4;
  transition: 0.2s;
  translate:-5px;
}
.icon {
  margin-bottom: 4px;
  margin-right: 5px;
}
input{
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
}


@media (max-width: 1200px) {
  .formCardDiv {
    padding: 15px 60px 25px; 
  }

  h1 {
    font-size: 2em; 
  }
}


@media (max-width: 768px) {
  .formCardDiv {
    padding: 15px 30px 25px; 
  }

  h1 {
    font-size: 1.5em; 
  }
}


@media (max-width: 480px) {
  .formCardDiv {
    padding: 15px 15px 25px; 
  }

  h1 {
    font-size: 1.2em; 
  }

  button {
    font-size: 0.9em; 
    padding: 8px 15px;
  }
  @media  (max-width: 768px) {
    input {
      max-width: 100%;
    }
    
  }
  @media (max-width: 480px) {
    input {
      width: 100%;
      padding: 8px;
    }
  }
}